body,
html {
  height: 100%;
}

.bgimg {
  background-image: url("/images/caroline-grondin-sF2YgV_JyBU-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 26px;
}

.grid {
  display: grid;

  grid-template-areas:
    "header header header "
    "imgGallery imgGallery imgGallery "
    "imgGallery imgGallery imgGallery ";
}

.header {
  grid-area: header;
  float: left;
  text-align: center;
  padding: 14px 50px;
  font-size: 24px;
}

.headerHome {
  float: left;
  text-align: center;
  padding: 14px 50px;
  font-size: 24px;
}

.desc {
  padding: 1em 2em;
  text-align: center;
}

.bestill {
  color: aliceblue;
  background-color: #4caf50;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  border-radius: 24px;
  transition-duration: 0.4s;
}

.bestill:hover {
  background-color: blue;
  color: aliceblue;
}
