body,
html {
  height: 100%;
}

.bgimg {
  background-image: url("/images/caroline-grondin-sF2YgV_JyBU-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.grid {
  display: grid;

  grid-template-areas:
    "header header header "
    "imgGallery imgGallery imgGallery "
    "imgGallery imgGallery imgGallery ";
}

.header {
  grid-area: header;
  float: left;

  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 26px;
}

.desc {
  padding: 1em 2em;
}
